/*[via google fonts]
    body fonts can have weights of:
        thin, extralight, light, regular, medium, semibold, or bold. */

:root {
  --primary-color: #758d62;
  --secondary-color: #b57060;
  --tertiary-color: #83a667;
  --quaternary-color: #725e57;
  --background-color: #ffedd1;
  --heading-font: "Righteous", cursive;
  --subheading-font: "Montserrat", sans-serif;
}

@media (max-width: 530px) {
  .second-section {
    display: none;
  }
  body {
    font-size: smaller;
  }
}

body {
  background: var(--background-color);
  border: 5px solid;
  border-color: var(--quaternary-color);
  margin: auto;
  padding: 10px;
}

h1 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  margin-bottom: 0px;
}

h2 {
  font-family: var(--subheading-font);
  color: var(--secondary-color);
  opacity: 75%;
  margin-bottom: 15px;
}

h3 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 45px;
  color: var(--secondary-color);
  opacity: 75%;
  margin-bottom: 0px;
}

h4 {
  font-family: var(--subheading-font);
  font-size: 20px;
  color: var(--tertiary-color);
  opacity: 90%;
  margin-bottom: 15px;
  margin-top: 5px;
}

p {
  font-family: var(--subheading-font);
}

ul {
  font-family: var(--subheading-font);
  list-style-type: none;
  padding-left: 0px;
  max-width: 380px;
  margin-top: 40px;
}

li {
  margin-bottom: 15px;
  opacity: 80%;
}

img {
  width: 380px;
  margin-bottom: 15px;
  border-radius: 2%;
}

a {
  color: var(--secondary-color);
}

a:hover {
  transition: all 500ms ease-in;
  opacity: 0.6;
}

a:visited {
  color: var(--quaternary-color);
}

i {
  font-size: 40px;
  color: var(--secondary-color);
}

.mini-bio-headers {
  font-weight: bold;
  font-size: 20px;
  color: var(--secondary-color);
}

.col {
  border: 3px solid;
  border-color: var(--tertiary-color);
  border-radius: 5px;
  margin: 15px 10px;
  padding: 40px;
}

.navbar {
  font-family: var(--subheading-font);
  border: 3px solid;
  border-color: var(--tertiary-color);
  border-radius: 5px;
  margin: 5px 50px;
}
